spring:
  main:
    banner-mode: off
  threads:
    virtual:
      enabled: true

management:
  endpoint:
    health:
      probes:
        # Expose Kubernetes probes as /livez and /readyz on the application port. See
        # https://docs.spring.io/spring-boot/4.0/reference/actuator/endpoints.html#actuator.endpoints.kubernetes-probes
        add-additional-paths: true

  endpoints:
    web:
      exposure:
        include:
          - health
          - prometheus

  server:
    port: 8081

jaconi:
  jwks:
    caching:
      # Caching should not be disabled in production!
      enabled: true
      time-to-live: 5m
    persistence:
      file:
        enabled: false
        path: /var/cache/jwks-cache
    outage-tolerance:
      enabled: true
      time-to-live: 50m
    urls: []

logging:
  level:
    root: INFO
---
spring:
  config:
    activate:
      on-profile: json-logging

logging:
  structured:
    format:
      console: logstash
