<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
	<import class="ch.qos.logback.classic.encoder.JsonEncoder"/>
	<import class="ch.qos.logback.core.ConsoleAppender"/>

	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<springProfile name="json-logging">
		<appender name="CONSOLE" class="ConsoleAppender">
			<encoder class="JsonEncoder"/>
		</appender>
	</springProfile>

	<springProfile name="!json-logging">
		<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
	</springProfile>

	<root>
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>
