name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Lint commit message(s)
        run: |
          yarn add @commitlint/cli
          yarn add @commitlint/config-conventional
          yarn run commitlint --from HEAD~${{ github.event.pull_request.commits }}

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
      - uses: gradle/actions/setup-gradle@v5
      - name: Test
        run: ./gradlew check jacocoTestReport
      - uses: codecov/codecov-action@v5
        if: always() # always run even if the previous step fails
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/reports/jacoco/test/jacocoTestReport.xml

  release:
    if: github.event_name == 'push'
    needs: test
    outputs:
      next-release-version: ${{ steps.semantic-release.outputs.next-release-version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - id: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn add semantic-release
          yarn add @semantic-release/exec
          yarn run semantic-release

  publish:
    if: needs.release.outputs.next-release-version != ''
    needs: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
      - uses: gradle/actions/setup-gradle@v5
      - uses: docker/setup-qemu-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          ./gradlew bootBuildImage --imageName=ghcr.io/${{ github.repository }}:latest-amd64 --imagePlatform=linux/amd64
          docker push ghcr.io/${{ github.repository }}:latest-amd64
          ./gradlew bootBuildImage --imageName=ghcr.io/${{ github.repository }}:latest-arm64 --imagePlatform=linux/arm64
          docker push ghcr.io/${{ github.repository }}:latest-arm64
          docker manifest create ghcr.io/${{ github.repository }}:latest \
            --amend ghcr.io/${{ github.repository }}:latest-amd64 \
            --amend ghcr.io/${{ github.repository }}:latest-arm64
          docker manifest push ghcr.io/${{ github.repository }}:latest
          docker manifest create ghcr.io/${{ github.repository }}:${{ needs.release.outputs.next-release-version }} \
               --amend ghcr.io/${{ github.repository }}:latest-amd64 \
               --amend ghcr.io/${{ github.repository }}:latest-arm64
          docker manifest push ghcr.io/${{ github.repository }}:${{ needs.release.outputs.next-release-version }}
